---
version: '3'

services:
  db:
    image: postgres:alpine
    restart: always
    volumes:
      {{ nd_docker_compose.db.volumes | to_nice_yaml | indent(width=6) }}
    env_file:
      - db.en

  redis:
    image: redis:alpine
    restart: always
    environment:
      {{ nd_docker_compose.redis.environment | to_nice_yaml | indent(width=6) }}

  app:
    image: nextcloud:apache
    restart: always
    volumes:
      {{ nd_docker_compose.app.volumes | to_nice_yaml | indent(width=6) }}
    environment:
      {{ nd_docker_compose.app.environment | to_nice_yaml | indent(width=6) }}
    env_file:
      - db.env
    depends_on:
      - db
      - redis
    networks:
      {{ nd_docker_compose.app.networks | to_nice_yaml | indent(width=6) }}

  cron:
    image: nextcloud:apache
    restart: always
    volumes:
      {{ nd_docker_compose.app.volumes | to_nice_yaml | indent(width=6) }}
    entrypoint: /cron.sh
    depends_on:
      - db
      - redis

  proxy:
    build: ./proxy
    restart: always
    ports:
      - 80:80
      - 443:443
    labels:
      com.github.jrcs.letsencrypt_nginx_proxy_companion.nginx_proxy: "true"
    volumes:
      {{ nd_docker_compose.proxy.volumes | to_nice_yaml | indent(width=6) }}
    networks:
      {{ nd_docker_compose.proxy.networks | to_nice_yaml | indent(width=6) }}

  letsencrypt-companion:
    image: jrcs/letsencrypt-nginx-proxy-companion
    restart: always
    volumes:
      {{ nd_docker_compose['letsencrypt-companion'].volumes | to_nice_yaml | indent(width=6) }}
    networks:
      {{ nd_docker_compose['letsencrypt-companion'].networks | to_nice_yaml | indent(width=6) }}
    depends_on:
      - proxy

volumes:
  {{ nd_docker_volumes.db }}:
  {{ nd_docker_volumes.app}}:
  {{ nd_docker_volumes['letsencrypt-companion']}}:
  {{ nd_docker_volumes.proxy.conf }}:
  {{ nd_docker_volumes.proxy.docroot }}:

networks:
  {{ nd_docker_network }}:
